.labelConfirmed{
	color:#FFA81E;
}

.labelDeaths{
	color:#FF4500;
}

.labelRecovered{
	color:#32CD32;
}

.backgroundTitleTable{
	background: #3065ab;
}


.backgroundTitleTableLead{
	background: #c7c7c7;
}

.backgroundTitleTableWhite{
	background: white;
}

.tableBorder th{
	border:1px solid #343a40;
}