<h5 class="text-center text-white backgroundTitleTable">Datos Generales</h5>
<table class="table text-center tableBorder ">
  <thead class="backgroundTitleTableLead">
    <tr>
      <th class="labelConfirmed" scope="col">Confirmados</th>
      <th class="labelDeaths" scope="col">Muertos</th>
      <th class="labelRecovered" scope="col">Recuperados</th>
    </tr>
  </thead>
  <tbody class="backgroundTitleTableWhite">
    <tr>
        <th>{{totalConfirmed}}</th>
        <th>{{totalDeaths}}</th>
        <th>{{totalRecovered}}</th>
    </tr>
  </tbody>
</table> 
